div input{
    weight: 100px
}

::placeholder{
    color: #aeaeae;
    font-weight: bold;
    text-align: center;
}

#proveedor_id{
    text-align: center;
}

#calcular, #buscar{
    padding: 2px 10px !important;
}

#calcular:hover, #buscar:hover{
    background-color: #009879 !important;
}
td button, td input {
    background-color: #009879;
    color: #eceff1;
    font-weight: bold;
    border-width: 2px;
    border-color: #003D31;
}

td button:hover, td input:hover {
    background-color: #00B279;
    color: #ffbc0e;
    transform: scale(1.1);
}