<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>MilkStgo</title>
    <link href="../css/style_agregar_persona.css" rel="stylesheet" />
    <script src="../Script/scripts_main.js"></script>
</head>

<body>
    <form action="" method="">
        <h1>Formulario de contacto</h1>
        <form action="#" method="post">
            <label for="codigo">Código:</label>
            <input type="text" id="codigo" name="codigo">

            <label for="nombre_proveedor">Nombre Proveedor:</label>
            <input type="text" id="nombre_proveedor" name="nombre_proveedor">

            <label for="categoria">Categoría:</label>
            <input type="text" id="categoria" name="categoria">

            <label for="afecto_a_etencion">Afecto a Retención:</label>
            <input type="text" id="afecto_a_etencion" name="afecto_a_etencion">

            <input id="enviar" type="submit" value="Enviar">
            <input id="volver" type="button" value="Volver" onclick="navegar('main.html')">
        </form>
</body>

</html>