<!DOCTYPE html>
<html lang="es">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head>
            <title>Informacion de Acopio.csv</title>
            <meta charset="UTF-8" />
            <link
                rel="stylesheet"
                href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
                integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
                crossorigin="anonymous"
            />
            <link rel="preconnect" href="https://fonts.googleapis.com" />
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
            <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet" />
            <link rel="stylesheet" href="../static/css/navbar.css" type="text/css" th:href="@{/css/navbar.css}" />
            <link rel="stylesheet" href="../static/css/listas.css" type="text/css" th:href="@{/css/listas.css}" />
        </head>
        <body>
            <header class="header">
                <div class="logo">
                    <h1>MilkStgo</h1>
                </div>
                <nav></nav>
                <a class="btn" href="/"><button>Volver al menú principal</button></a>
                <a class="btn" href="/subir_excel"><button>Ingresar Acopio de leche en .CSV</button></a>
            </header>
            <div th:align="center" class="container my-2">
                <h1><b>Información de Acopio de Leche</b></h1>
                <table th:border="1" class="content-table">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Turno</th>
                            <th>Proveedor</th>
                            <th>Kls Leche</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="acopio_leche:${acopio_leche}">
                            <td th:text="${acopio_leche.fecha}"></td>
                            <td th:text="${acopio_leche.turno}"></td>
                            <td th:text="${acopio_leche.proveedor_id}"></td>
                            <td th:text="${acopio_leche.kls_leche}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </body>
    </html>
</html>
