<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>MilkStgo</title>
        <link href="../css/style_main.css" rel="stylesheet" />
        <script src="../Script/scripts_main.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="card">
                <img id="excel" src="../Imagenes/excel.png" alt="Imagen 2" onclick="">
                <h2>Agregar proveedor mediante excel</h2>
            </div>
            <div class="card">
                <img id="grupo personas" src="../Imagenes/grupo-de-usuarios.png" alt="Imagen 1" onclick="">
                <h2>Listado de proveedores</h2>
            </div>
            <div class="card">
                <img id="persona" src="../Imagenes/persona.png" alt="Imagen 3" onclick="navegar('agregar_persona.html')">
                <h2>Agregar proveedor manualmente</h2>
            </div>
        </div>
    </body>
</html>