<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>MilkStgo</title>
        <link href="../css/style.css" rel="stylesheet" />
    </head>

    <body>
        <div class="container">
            <div class="card">
                <img src="sobresalir.png" alt="Imagen 2" onclick="">
                <h2>Agregar proveedor mediante excel</h2>
            </div>
            <div class="card">
                <img src="grupo-de-usuarios.png" alt="Imagen 1" onclick="">
                <h2>Listado de proveedores</h2>
            </div>
            <div class="card">
                <img src="persona.png" alt="Imagen 3" onclick="">
                <h2>Agregar proveedor manualmente</h2>
            </div>
        </div>
    </body>
</html>